@media screen and (max-width: 425px) {

    .nav-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
    }

    .nav-menu ul{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .banner{
        flex-direction: column-reverse;
    }
}